UseColor: true
Checks:
  - clang-diagnostic-*
  - clang-analyzer-*
  - cppcoreguidelines-*
  - readability-*
  - portability-*
  - performance-*
  - bugprone-*
  - -bugprone-easily-swappable-parameters
